    /*Variables*/
    
     :root {
        --clr-white: #fff;
        --clr-items-color-gray: hsl(0, 0%, 64%);
        --clr-my-grey: rgb(244, 245, 245);
        --clr-my-grey2: hsl(184, 6%, 53%);
        --clr-lightOrange: hsl(28, 78%, 64%);
        --clr-orange: #F35D69;
        --clr-darkOrange: hsl(28, 80%, 52%);
        --clr-wetBlack: hsl(210, 29%, 29%);
        --clr-blue: hsl(184, 28%, 45%);
        --clr-pinky: hsl(358, 50%, 60%);
        --clr-metalicGreen: hsl(166, 20%, 44%);
        --clr-bcg: #1F2233;
        --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        --blue-shadow: 0 3px 15px #30a9ddb2;
        --text-shadow: 0 2px 30px #9fb4ff81;
        --text-color: white;
        --wave-color: #25273E;
        --max-width: 1170px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'yekan-regular';
    }
    
    html {
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 200;
        text-rendering: optimizeLegibility;
        scroll-behavior: smooth;
    }
    
     ::selection {
        background-color: var(--clr-blue);
    }
    
    body {
        background-color: var(--clr-bcg);
        text-shadow: var(--text-shadow);
        color: var(--text-color);
        font-family: 'yekan-regular';
    }
    
    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4 {
        text-transform: capitalize;
        line-height: 1.25;
        margin-bottom: 0.75rem;
        font-weight: bold;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h4,
    h5,
    h6 {
        font-size: 0.875rem;
    }
    
    h3::after {
        display: block;
        height: 2px;
        background-color: var(--clr-pinky);
        box-shadow: var(--text-shadow);
        content: " ";
        width: 7rem;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    p {
        margin: 1.25rem 0;
    }
    
    section {
        padding: 5rem 0;
        text-align: center;
    }
    
    button {
        text-transform: uppercase;
        background: transparent;
        font-weight: bold;
        color: var(--text-color);
        padding: 0.375rem 0.75rem;
        border: 2px solid var(--clr-black);
        cursor: pointer;
        transition: all 0.3s;
    }
    
    button:hover {
        color: rgb(182, 182, 182);
        transition: all 0.3s;
    }
    
    .navbar .navbar-nav .nav-link,
    .mylink-btn {
        margin-right: 0.25rem;
        margin-bottom: 0.1rem;
        padding: 0.275rem 0.75rem;
        outline: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
        cursor: pointer;
        font-weight: bold;
        color: var(--clr-orange);
        position: relative;
        border-radius: 50px;
    }
    
    .navbar .navbar-nav .nav-link::after,
    .mylink-btn::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--clr-lightOrange);
        transform: scaleX(0);
        transition: all 0.4s;
    }
    
    .navbar .navbar-nav .nav-link:hover:after,
    .mylink-btn:hover:after {
        transform: scaleX(1);
    }
    
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link:focus,
    .mylink-btn:focus {
        color: var(--clr-orange);
    }
    
    .navbar .navbar-nav .nav-link:hover,
    .mylink-btn:hover {
        color: var(--clr-orange);
    }
    
    .img-fluid {
        border-radius: 0.25rem;
    }
    
    .hovering {
        position: absolute;
        border-radius: 50%;
        border: solid;
        border-width: 7px;
        border-color: #6cc644;
        top: 0;
        left: 0;
        z-index: 999;
        transform: translate(-50%, -50%) scale(0);
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 200ms, width 200ms, border-color 200ms, border-width 200ms;
        opacity: 0;
        background: transparent;
    }